.start{
    margin-top: 30px;
}

.start h1{
    font-size: 3.5em;
}

.start p{
    margin-bottom:  2em;
    color: #f4fa83;
}

.start button{
    padding: 20px;
    border-radius: 10px;
    font-size: 1.2em;
    border: 2px solid rgba(231, 0, 200, 0.349);
    color: gray;
    background-color: rgba(255, 255, 255, 0.432);
    transition: 0.7s;
    cursor: pointer;
}

.start button:hover{
    border: 2px solid rgb(255, 0, 221);
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 40px 10px rgba(255, 0, 221, 0.404);
}